:root{
    --red:#ef8c86;
    --yellow:#72d0d1;
    --orange:#fcb677;
    --green:#bcc35a;
    --darkgrey:#2a363b;
    --white:#ffffff;
}
*{
    font-family: 'Montserrat', monospace,sans-serif;
    align-items: center;
    justify-content: center;
    flex-direction:column

}
body{
    background-color: var(--yellow);
    overflow-y: hidden;
    overflow-x: hidden;
}
/*botones de musica*/
button{
    border: none;
    cursor: pointer;
    outline: none;
}
button#playpausebtn{
    background: url(/home/haruka/Documents/playpause.png) no-repeat;
    width: 12px;
    height:12px;
    cursor: pointer;
}
button#mutebtn{
    background: url(/home/haruka/Documents/mute.png) no-repeat;
    width: 5px;
    height:12px;
    cursor: pointer;
}
#menuBtns{
    background-color:#f6eeda;
    border-radius:8px;
    margin-left: 80px;
    margin-top: 50px;
    padding:100px 350px;
    position:absolute;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    display:inline-block;
}

.logo{
    /*el url asi como esta, solo funciona si el archivo y la imagen estan en la misma carpeta*/
    background-image: url('logo.jpg');
	background-position:center;
	background-repeat:no-repeat;
    background-size:cover;
    margin-left: 70px;
	height:100px;
    width:180px;
    display:inline-block;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    position:relative;
}

.bg-dark{
    background-color: var(--darkgrey);
    min-height:65vh;/* calc(100vh - 150px);*/
    margin: 0;
}
.btn-container{
    padding-top: 150px;
    display: flixed;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    position:relative;
  }
  .btn-ghost{
    position: relativate;
    display: inline-block;
    border: 2px solid var(--white);
    padding: 20px 80px;
    color: var(--black);
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    background: var(--white);
    transition: color 0.5s, background 0.5s;
    margin-left: 15px;
    margin-bottom: 15px;
    font-size: 1em;
    min-width: 140px;
    text-align: center;
    border-radius: 6px;

  }

  .btn-ghost.secundary{
    background-color: transparent;
    color: var(--white);
  }
  
  .btn-ghost:hover{
    color: var(--white);
    background-color: transparent;
  }
  
  .btn-ghost.secundary:hover{
    color: var(--black);
    background-color: var(--white);
  }
  
  .btn-ghost:active{
    box-shadow: inset 0 0 20px var(--white);
  }
  
  .btn-ghost.secundary:active{
    box-shadow: inset 0 0 20px var(--black);
  }
  
  /*BOTON ROJO*/
  .btn-ghost.red{
    background-color: var(--red);
    border-color: var(--red);
    color: var(--white);
  }
  
  .btn-ghost.secundary.red{
    background-color: transparent;
    color: var(--red);
  }
  
  .btn-ghost.red:hover{
    background-color: transparent;
    color: var(--red);
  }
  
  .btn-ghost.secundary.red:hover{
    background-color: var(--red);
    color: var(--white);
  }
  
  .btn-ghost.red:active{
    box-shadow: inset 0 0 20px var(--red);
  }
  
  .btn-ghost.secundary.red:active{
    box-shadow: inset 0 0 20px var(--white);
  }
  /*BOTON NARANJA*/
  .btn-ghost.orange{
    background-color: var(--orange);
    border-color: var(--orange);
    color: var(--white);
  }
  
  .btn-ghost.secundary.orange{
    background-color: transparent;
    color: var(--orange);
  }
  
  .btn-ghost.orange:hover{
    background-color: transparent;
    color: var(--orange);
  }
  
  .btn-ghost.secundary.orange:hover{
    background-color: var(--orange);
    color: var(--white);
  }
  
  .btn-ghost.orange:active{
    box-shadow: inset 0 0 20px var(--orange);
  }
  
  .btn-ghost.secundary.orange:active{
    box-shadow: inset 0 0 20px var(--white);
  }
  /*BOTON VERDE*/
  .btn-ghost.green{
    background-color: var(--green);
    border-color: var(--green);
    color: var(--white);
  }
  
  .btn-ghost.secundary.green{
    background-color: transparent;
    color: var(--green);
  }
  
  .btn-ghost.green:hover{
    background-color: transparent;
    color: var(--green);
  }
  
  .btn-ghost.secundary.green:hover{
    background-color: var(--green);
    color: var(--white);
  }
  
  .btn-ghost.green:active{
    box-shadow: inset 0 0 20px var(--green);
  }
  
  .btn-ghost.secundary.green:active{
    box-shadow: inset 0 0 20px var(--white);
  }