@charset "UTF-8";

form .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: rgba(73, 194, 17, 0.856);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}
/*pendiente cambiar el estilo de tabla*/
table{
	align-items:center;
	font-size: 15px;
	text-align: center;
	border:1px solid green;
}
tr{
	border:1px solid green;
}

#contenedor-input{
	width: 100%;
	margin-bottom: 20px;
	height: 52px;
	font-size: 15px;
	line-height: 50px;
	text-align: center;
	border: 1px solid #BBBBBB;
}

.flex{
	widht:100%;
	height:100%;
	dispaly:flex;
	justify-content:space-beetween;
	align-items:center;
}

a{
	text-decoration: none;
	font-size: 20px;
	display: inline-block;
	padding: 10px;
	width: 220px;
	border: 1px solid #fff;
	border-radius:10px ;
	color: #fff;
}
a:hover{
	background: #000;
	color: #fff;
	border: 1px solid #000000;
}
.modal{
	display: none;
	position: fixed;
	z-index: 1;
	overflow: auto;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, 0.425);	
}
.contenido-modal{
	position: relative;
	background-attachment: #fefefe;
	margin: auto;
	width: 30%;
	box-shadow: 0 0 6px rgba(0,0,0, .4);
	animation-name: modal;
	animation-duration: 1s;
	border-radius:5px;
}
@keyframes modal{
	from{top: -330px; opacity: 0;}
	to{top: 100px; opacity: 1;}
}
.close{
	color: #ffffff;
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 5px;
}
.close:hover{
	color: #7f8c8d;
	text-decoration: none;
	cursor: pointer;
}
.modal-header{
	padding: 3px 16px;
	background: #34495e;
	color: #f2f2f2;
	text-align:right;
	
}
.modal-body{
	padding: 50px 16px;
	background-color:#ffffff;
	text-align:center;
}
@media screen and (max-width:900px){
	.contenido-modal{
		width: 70%;
	}
	.textos{
		padding: 150px;
	}
}
@media screen and (max-width:500px){
	.textos{
		padding: 50px;
	}
}
